[*.cs]

# CS0162: Código inacessível detectado
dotnet_diagnostic.CS0162.severity = none

# CS1718: Comparação feita com a mesma variável
dotnet_diagnostic.CS1718.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

csharp_indent_case_contents_when_block = false