name: Build Endless Escapade

on:
  push:
    branches: [master]
  
jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Build mod
        run: dotnet build EndlessEscapade.sln
